# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Production build
dist/
build/

# Environment variables (絕對要加這行)
.env
.env.local
.env.*.local